:root {
  --button-height-base: 52px;
  --button-height-m: 52px;
  --button-height-s: 48px;
  --button-height-xs: 36px;
  --button-height-xxs: 24px;

  --square-button-width-base: 400px;
  --square-button-width-m: 196px;
  --square-button-width-s: 82px;
}
