:root {
  --primary-green: #21ecc7;
  --green-light100: #7ff4df;
  --green-light200: #aef8eb;
  --green-light300: #c5faf0;
  --green-light400: #ddfcf6;

  --green-dark100: #11c9a7;
  --green-dark200: #0d9a80;
  --green-dark300: #096b59;
  --green-dark400: #053c32;

  --secondary-blue: #00c2ff;
  --title-green: #00ffc2;
  --kakao-btn: #fee500;

  --white: #ffffff;
  --black: #111111;

  --grey100: #f1f1f5;
  --grey200: #e5e5ec;
  --grey300: #d4d4d4;
  --grey400: #999999;
  --grey500: #767676;
  --grey600: #505050;

  --fail-red: #dc0000;
  --success-green: #04b014;
  --warn-yellow: #ffaa00;
}
