:root {
  --shadow-1: 0px 0px 6px -1px rgba(17, 17, 17, 0.08);
  --shadow-2: 0px 0px 6px -1px rgba(17, 17, 17, 0.1);
}

.shadow--1 {
  box-shadow: var(--shadow-1);
}

.shadow--2 {
  box-shadow: var(--shadow-2);
}
