:root {
  --svg-stroke-base: 2px;
  --svg-stroke-light: 1.5px;
  --svg-stroke-extra-light: 1.33px;
  --svg-stroke-thin: 1px;

  --svg-width-xl: 36px;
  --svg-width-l: 32px;
  --svg-width-m: 28px;
  --svg-width-base: 24px;
  --svg-width-s: 20px;
  --svg-width-xs: 16px;
  --svg-width-xxs: 12px;
}
