:root {
  --line-height-base: 1.6;
  --line-height-adjust: 1.3;

  --font-size-h1: 56px;
  --font-size-h2: 48px;
  --font-size-h3: 36px;
  --font-size-h4: 32px;
  --font-size-h5: 24px;
  --font-size-h6: 20px;
  --font-size-h7: 17px;

  --font-size-p: 15px;
  --font-size-sm: 13px;
  --font-size-small: 13px;
  --font-size-xsmall: 11px;

  --font-weight-bold: bold;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: normal;
}

.typography {
  margin: 0;
  padding: 0;
}

.typography--h1,
.typography--h2,
.typography--h3,
.typography--h4 {
  line-height: var(--line-height-adjust);
}

.typography--h1 {
  font-size: var(--font-size-h1);
}

.typography--h2 {
  font-size: var(--font-size-h2);
}

.typography--h3 {
  font-size: var(--font-size-h3);
}

.typography--h4 {
  font-size: var(--font-size-h4);
}

.typography--h5,
.typography--h6,
.typography--h7,
.typography--p,
.typography--sm,
.typography--small,
.typography--xsmall {
  line-height: var(--line-height-base);
}

.typography--h5 {
  font-size: var(--font-size-h5);
}

.typography--h6 {
  font-size: var(--font-size-h6);
}

.typography--h7 {
  font-size: var(--font-size-h7);
}

.typography--p {
  font-size: var(--font-size-p);
}

.typography--sm {
  font-size: var(--font-size-sm);
}

.typography--small {
  font-size: var(--font-size-small);
}

.typography--xsmall {
  font-size: var(--font-size-xsmall);
}

.typography--bold {
  font-weight: bold;
}

.typography--semibold {
  font-weight: 600;
}

.typography--medium {
  font-weight: 500;
}

.typography--regular {
  font-weight: normal;
}
