.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.reset-button {
  background: none;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-anchor {
  text-decoration: none;
}

.desktop-only {
  @media (max-width: 639px) {
    display: none !important;
  }
}

.mobile-only {
  @media (min-width: 640px) {
    display: none !important;
  }
}
